
TriggerRelay/app/TriggerRelay/obj/

TriggerRelay/app/TriggerRelay/bin/

SatyaDB/SatyaDB/obj/

SatyaDB/SatyaDB/bin/

QuoteService/Tools/satya.wav

QuoteService/Tools/satya2.wav

TriggerRelay/app/\.vs/

NativeApp/\.vs/

NativeApp/NativeApp/obj/

SatyaOfficeApp/node_modules/
